In [4]:
!echo "# First_ML_Model" >> README.md
!git init
!git add README.md
!git commit -m "first commit"
!git branch -M main
!git remote add origin https://github.com/namelessace01/First_ML_Model.git
!git push -u origin main

Initialized empty Git repository in C:/Users/Eniiyi Bishop Ajala/Documents/SIWES_TRAINING/Machine-Learning/First_ML_Model/.git/
[master (root-commit) d1309e4] first commit
 1 file changed, 2 insertions(+)
 create mode 100644 README.md
branch 'main' set up to track 'origin/main'.

To https://github.com/namelessace01/First_ML_Model.git
 * [new branch]      main -> main

In [5]:
# Importing the necessary libraries
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [12]:
!git add Project1.ipynb
!git commit -m "Table Display"
!git push

On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean

Everything up-to-date

In [8]:
!git add .
!git commit -m "The Dataset"
!git push

warning: in the working copy of 'Project1.ipynb', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of '.ipynb_checkpoints/Project1-checkpoint.ipynb', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'vft-count_2019.csv', LF will be replaced by CRLF the next time Git touches it

[main 7db9d67] The Dataset
 4 files changed, 586399 insertions(+), 5 deletions(-)
 create mode 100644 .ipynb_checkpoints/Project1-checkpoint.ipynb
 create mode 100644 vft-count.csv
 create mode 100644 vft-count_2019.csv

To https://github.com/namelessace01/First_ML_Model.git
   3644a04..7db9d67  main -> main

In [9]:
# Read the dataset to a pandas dataframe
df_USAhousing = pd.read_csv("USA_Housing.csv")

In [13]:
# Display the first five values of the dataset
# The .head() method naturally displays the first five elements of the table
df_USAhousing.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386