In [4]:
!echo "# First_ML_Model" >> README.md
!git init
!git add README.md
!git commit -m "first commit"
!git branch -M main
!git remote add origin https://github.com/namelessace01/First_ML_Model.git
!git push -u origin main

Initialized empty Git repository in C:/Users/Eniiyi Bishop Ajala/Documents/SIWES_TRAINING/Machine-Learning/First_ML_Model/.git/
[master (root-commit) d1309e4] first commit
 1 file changed, 2 insertions(+)
 create mode 100644 README.md
branch 'main' set up to track 'origin/main'.

To https://github.com/namelessace01/First_ML_Model.git
 * [new branch]      main -> main

In [5]:
# Importing the necessary libraries
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [18]:
!git add Project1.ipynb
!git commit -m "Data Sta"
!git push

warning: in the working copy of 'Project1.ipynb', LF will be replaced by CRLF the next time Git touches it

[main 326917b] Checking Datatypes fo Features
 1 file changed, 16 insertions(+), 5 deletions(-)

To https://github.com/namelessace01/First_ML_Model.git
   eddc019..326917b  main -> main

In [8]:
!git add .
!git commit -m "The Dataset"
!git push

warning: in the working copy of 'Project1.ipynb', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of '.ipynb_checkpoints/Project1-checkpoint.ipynb', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'vft-count_2019.csv', LF will be replaced by CRLF the next time Git touches it

[main 7db9d67] The Dataset
 4 files changed, 586399 insertions(+), 5 deletions(-)
 create mode 100644 .ipynb_checkpoints/Project1-checkpoint.ipynb
 create mode 100644 vft-count.csv
 create mode 100644 vft-count_2019.csv

To https://github.com/namelessace01/First_ML_Model.git
   3644a04..7db9d67  main -> main

In [9]:
# Read the dataset to a pandas dataframe
df_USAhousing = pd.read_csv("USA_Housing.csv")

In [13]:
# Display the first five values of the dataset
# The .head() method naturally displays the first five elements of the table
df_USAhousing.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [15]:
# The next thing we do is to look for missing values
# using the .isnull() method we can find missing values although adding the .sum() method sums all the number of missing values
df_USAhousing.isnull().sum()

Avg. Area Income                0
Avg. Area House Age             0
Avg. Area Number of Rooms       0
Avg. Area Number of Bedrooms    0
Area Population                 0
Price                           0
Address                         0
dtype: int64

In [17]:
# Next we check for mismatching datatypes in table features, usually datetime but not in this case.
# Besides, it's just fun to check what datatypes they are set in
df_USAhousing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

In [19]:
# To check for some basic statistical data about the dataset we use the .describe() method
# I like using it with the .transpose() method for easier understanding
df_USAhousing.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Avg. Area Income,5000.0,6.858311e+04,10657.991214,17796.631190,61480.562388,6.880429e+04,7.578334e+04,1.077017e+05
Avg. Area House Age,5000.0,5.977222e+00,0.991456,2.644304,5.322283,5.970429e+00,6.650808e+00,9.519088e+00
Avg. Area Number of Rooms,5000.0,6.987792e+00,1.005833,3.236194,6.299250,7.002902e+00,7.665871e+00,1.075959e+01
Avg. Area Number of Bedrooms,5000.0,3.981330e+00,1.234137,2.000000,3.140000,4.050000e+00,4.490000e+00,6.500000e+00
Area Population,5000.0,3.616352e+04,9925.650114,172.610686,29403.928702,3.619941e+04,4.286129e+04,6.962171e+04
Price,5000.0,1.232073e+06,353117.626581,15938.657923,997577.135049,1.232669e+06,1.471210e+06,2.469066e+06